@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap')
layer(base);

@import 'tailwindcss';

@config '../tailwind.config.cjs';

@font-face {
	font-family: 'Berkeley MonoVF';
	src: url('https://content.jacksonwel.sh/fonts/BerkeleyMono.woff2') format('woff2-variations');
	font-weight: 100 150;
	font-stretch: 75% 125%;
	font-style: normal;
	font-variant-ligatures: normal;
}

.ce-popover {
	@apply dark:bg-gray-900 dark:border-gray-600;
}

.ce-popover__item-icon {
	@apply dark:bg-gray-800;
}

.ce-popover__item:hover:not(.ce-popover__item--no-visible-hover) {
	@apply dark:bg-gray-700;
}

.cdx-search-field {
	@apply dark:bg-gray-800 dark:text-gray-300;
}

.cdx-notify {
	@apply dark:bg-gray-800 dark:text-gray-300;
}

.cdx-button {
	@apply dark:bg-gray-900 dark:hover:bg-gray-800 transition dark:text-gray-300;
}

.image-tool--withBackground .image-tool__image {
	@apply dark:bg-gray-900!;
}

.ce-inline-toolbar {
	@apply dark:bg-gray-900!;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
	@apply dark:text-gray-400 dark:hover:bg-gray-700;
}

.ce-block--selected .ce-block__content {
	@apply dark:bg-gray-800;
}

.raw-text > a {
	@apply underline text-blue-900 dark:text-blue-200;
}

.ce-inline-toolbar__dropdown:hover {
	@apply dark:bg-gray-800!;
}

.ce-inline-tool:hover {
	@apply dark:bg-gray-800!;
}

.ce-inline-tool-input--showed {
	@apply dark:bg-gray-900;
}

.ce-conversion-toolbar--showed {
	@apply dark:bg-gray-900;
}

.ce-conversion-tool__icon {
	@apply dark:text-gray-400 dark:bg-gray-900;
}

.ce-conversion-tool:hover {
	@apply dark:bg-gray-800!;
}

.cdx-list__item {
	@apply leading-5! my-1;
}

@layer base {
	button:not(:disabled),
	[role='button']:not(:disabled) {
		cursor: pointer;
	}
}
/* .hljs { */
/* 	@apply scrollbar scrollbar-thumb-gray-600 scrollbar-track-gray-200 dark:scrollbar-track-gray-800; */
/* } */
